// Import utilities.
@import 'utils/typography';
@import 'utils/mixins';
@import 'utils/variables';

// Set CSS variables
html {
  --tab-border-color: #aaa;
  --editor-container-bg: white;

  // Nemron System variables
  --nem-grid-gap: 5px;

  --nem-node-fg: #111;
  --nem-node-bg: transparent;

  --nem-node-selected-fg: #222;
  --nem-node-selected-bg: #eee;
}

/* Global styles */
// @import 'global/window';
@import 'global/flex';
@import 'global/grid';

/* Styles limited to nemron sheets */
.nemron {
  @import 'components/forms';
  @import 'components/resource';
  @import 'components/tabs';
  @import 'components/items';
}
