@mixin layout { display: flex; }
.layout { @include layout; }


@mixin layout-inline { display: inline-flex; }
.layout.inline { @include layout-inline; }


@mixin layout-horizontal {
  @include layout;
  flex-direction: row;
}
.layout.horizontal { @include layout-horizontal; }


@mixin layout-vertical {
  @include layout;
  flex-direction: column;
}
.layout.vertical { @include layout-vertical; }


@mixin layout-wrap { flex-wrap: wrap; }
.layout.wrap { @include layout-wrap; }


@mixin layout-flex-auto { flex: 1 1 auto; }
.layout.flex-auto { @include layout-flex-auto; }


@mixin layout-flex {
  flex: 1;
  flex-basis: 0.000000001px;
}
.layout.flex { @include layout-flex; }


/* alignment in cross axis */
@mixin layout-start { align-items: flex-start; }
.layout.start { @include layout-start; }


@mixin layout-center { align-items: center; }
.layout.center { @include layout-center; }


@mixin layout-end { align-items: flex-end; }
.layout.end { @include layout-end; }


@mixin layout-baseline { align-items: baseline; }
.layout.baseline { @include layout-baseline; }


/* alignment in main axis */
@mixin layout-start-justified { justify-content: flex-start; }
.layout.start-justified { @include layout-start-justified; }


@mixin layout-center-justified { justify-content: center; }
.layout.center-justified { @include layout-center-justified; }


@mixin layout-end-justified { justify-content: flex-end; }
.layout.end-justified { @include layout-end-justified; }


@mixin layout-around-justified { justify-content: space-around; }
.layout.around-justified { @include layout-around-justified; }


@mixin layout-justified { justify-content: space-between; }
.layout.justified { @include layout-justified; }


@mixin layout-center-center {
  @include layout-center;
  @include layout-center-justified;
}
.layout.center-center { @include layout-center-center; }


/* self alignment */
@mixin layout-self-start { align-self: flex-start; }
.layout.self-start { @include layout-self-start; }


@mixin layout-self-center { align-self: center; }
.layout.self-center { @include layout-self-center; }


@mixin layout-self-end { align-self: flex-end; }
.layout.self-end { @include layout-self-end; }


@mixin layout-self-stretch { align-self: stretch; }
.layout.self-stretch { @include layout-self-stretch; }


@mixin layout-self-baseline { align-self: baseline; }
.layout.self-baseline { @include layout-self-baseline; }


/* multi-line alignment in main axis */
@mixin layout-start-aligned { align-content: flex-start; }
.layout.start-aligned { @include layout-start-aligned; }


@mixin layout-end-aligned { align-content: flex-end; }
.layout.end-aligned { @include layout-end-aligned; }


@mixin layout-center-aligned { align-content: center; }
.layout.center-aligned { @include layout-center-aligned; }


@mixin layout-between-aligned { align-content: space-between; }
.layout.between-aligned { @include layout-between-aligned; }


@mixin layout-around-aligned { align-content: space-around; }
.layout.around-aligned { @include layout-around-aligned; }

/* Other Layout */
@mixin layout-fit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.layout.fit { @include layout-fit; }
