.grid {
  display: grid;
  grid-template-rows: auto;
  grid-gap: var(--nem-grid-gap);
  justify-items: stretch;
  align-items: center;

  .grid-header {
    font-weight: bold;
    @include layout-horizontal;
    @include layout-center;

    .fas {
      margin: 0 1em;
    }
  }

  > div { padding: 2px; }
}
