<form class="{{cssClass}} layout vertical" autocomplete="off">
    {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{actor.img}}"
      title="{{actor.name}}"
      data-edit="img"
      height="100"
      width="100"/>

    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
      </h1>
    </div>
  </header>

  <nav class="sheet-tabs tabs">
    <a class="item" data-tab="actions">Actions</a>
    <a class="item" data-tab="attrs">Attributes</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="equipment">Equipment</a>
    <a class="item" data-tab="bio">Bio</a>
  </nav>

  <section class="sheet-body">
    <div class="tab character-actions" data-tab="actions">
      {{#if actor.isToken}}
        <nem-pool tokenId="{{actor.token.id}}"></nem-pool>
      {{else}}
        <nem-pool actorId="{{actor.id}}"></nem-pool>
      {{/if}}

      <hr />

      <div class="button-list">
        <button roll-action="gPenalty">Greater Penalty</button>
        <button roll-action="lPenalty">Lesser Penalty</button>
        <button roll-action="normal">Normal Roll</button>
        <button roll-action="lBoon">Lesser Boon</button>
        <button roll-action="gBoon">Greater Boon</button>
      </div>
    </div>

    <div class="tab character-attributes" data-tab="attrs">
      {{!-- Character Summary --}}
      <div class="overview">
        <div>
          <label class="resource-label">{{localize "nem.generic.frameLabel"}}</label><br />
          <input
            type="text"
            name="data.details.frame"
            placeholder="{{localize "nem.generic.frameLabel"}}"
            value="{{stats.details.frame}}" />
        </div>
        <div>
          <label class="resource-label">{{localize "nem.generic.backgroundLabel"}}</label><br />
          <input
            type="text"
            name="data.details.background"
            placeholder="{{localize "nem.generic.backgroundLabel"}}"
            value="{{stats.details.background}}" />
        </div>

        <div>
          <label class="resource-label">{{localize "nem.generic.attributeAffinityLabel"}}</label><br />
          <select name="data.affinities.attribute" value="{{stats.affinities.attribute}}">
            {{#select stats.affinities.attribute}}
            {{#each config.attr.body as |name type|}}
              <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{#each config.attr.mind as |name type|}}
              <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{#each config.attr.spirit as |name type|}}
              <option value="{{type}}">{{localize name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
        <div>
          <label class="resource-label">{{localize "nem.generic.skillAffinityLabel"}}</label><br />
          <input
            type="text"
            name="data.affinities.skill"
            placeholder="{{localize "nem.generic.skillAffinityLabel"}}"
            value="{{stats.affinities.skill}}" />
        </div>
      </div>

      <hr />

      <div class="passive-attributes">
        <div class="attribute">
          <label for="data.energy.value">Energy</label>
          <input type="number" name="data.energy.value" value="{{stats.energy.value}}" />
          / {{ stats.energy.max }}
        </div>

        <div class="attribute">
          <label>Movement</label>
          <input type="text" value="{{stats.movespeed}}m" disabled="disabled"/>
        </div>

        <div>
        </div>

        <div class="attribute attribute-hp">
          <label for="data.body.hp.value">BHP</label>
          <input type="number" name="data.body.hp.value" value="{{stats.body.hp.value}}"/>
          / {{stats.body.hp.max}}
        </div>

        <div class="attribute attribute-hp">
          <label for="data.mind.hp.value">MHP</label>
          <input type="number" name="data.mind.hp.value" value="{{stats.mind.hp.value}}"/>
          / {{stats.mind.hp.max}}
        </div>

        <div class="attribute attribute-hp">
          <label for="data.spirit.hp.value">SHP</label>
          <input type="number" name="data.spirit.hp.value" value="{{stats.spirit.hp.value}}"/>
          / {{stats.spirit.hp.max}}
        </div>
      </div>

      <hr />

      {{!-- Body Attrs --}}
      <div class="attribute-nodes">
        <div class="attribute-nodes-node">
          <label for="data.body.power.value">{{localize "nem.attr.body.power"}}</label>
          <input
            type="number"
            name="data.body.power.value"
            value="{{stats.body.power.value}}"
            min="{{stats.body.power.min}}"
            max="{{stats.body.power.max}}" />
        </div>

        <div class="attribute-nodes-node">
          <label for="data.body.agility.value">{{localize "nem.attr.body.agility"}}</label>
          <input
            type="number"
            name="data.body.agility.value"
            value="{{stats.body.agility.value}}"
            min="{{stats.body.agility.min}}"
            max="{{stats.body.agility.max}}" />
        </div>

        <div class="attribute-nodes-node">
          <label for="data.body.constitution.value">{{localize "nem.attr.body.constitution"}}</label>
          <input
            type="number"
            name="data.body.constitution.value"
            value="{{stats.body.constitution.value}}"
            min="{{stats.body.constitution.min}}"
            max="{{stats.body.constitution.max}}" />
        </div>

        <div class="attribute-nodes-node">
          <label for="data.mind.intellect.value">{{localize "nem.attr.mind.intellect"}}</label>
          <input
            type="number"
            name="data.mind.intellect.value"
            value="{{stats.mind.intellect.value}}"
            min="{{stats.mind.intellect.min}}"
            max="{{stats.mind.intellect.max}}" />
        </div>

        <div class="attribute-nodes-node">
          <label for="data.mind.awareness.value">{{localize "nem.attr.mind.awareness"}}</label>
          <input
            type="number"
            name="data.mind.awareness.value"
            value="{{stats.mind.awareness.value}}"
            min="{{stats.mind.awareness.min}}"
            max="{{stats.mind.awareness.max}}" />
        </div>

        <div class="attribute-nodes-node">
          <label for="data.mind.willpower.value">{{localize "nem.attr.mind.willpower"}}</label>
          <input
            type="number"
            name="data.mind.willpower.value"
            value="{{stats.mind.willpower.value}}"
            min="{{stats.mind.willpower.min}}"
            max="{{stats.mind.willpower.max}}" />
        </div>

        <div class="attribute-nodes-node">
          <label for="data.spirit.control.value">{{localize "nem.attr.spirit.control"}}</label>
          <input
            type="number"
            name="data.spirit.control.value"
            value="{{stats.spirit.control.value}}"
            min="{{stats.spirit.control.min}}"
            max="{{stats.spirit.control.max}}" />
        </div>

        <div class="attribute-nodes-node">
          <label for="data.spirit.sense.value">{{localize "nem.attr.spirit.sense"}}</label>
          <input
            type="number"
            name="data.spirit.sense.value"
            value="{{stats.spirit.sense.value}}"
            min="{{stats.spirit.sense.min}}"
            max="{{stats.spirit.sense.max}}" />
        </div>

        <div class="attribute-nodes-node">
          <label for="data.spirit.focus.value">{{localize "nem.attr.spirit.focus"}}</label>
          <input
            type="number"
            name="data.spirit.focus.value"
            value="{{stats.spirit.focus.value}}"
            min="{{stats.spirit.focus.min}}"
            max="{{stats.spirit.focus.max}}" />
        </div>
      </div>
    </div>

    <div class="tab" data-tab="skills">
      <div class="grid skills-grid">
        <!-- Header -->
        <div class="grid-header skills-grid-node">
          <span>Name</span>
          <a create-item data-item-type="skill" class="fas fa-plus"></a>
        </div>
        <div class="grid-header skills-grid-rank">Rank</div>

        <!-- Skills -->
        {{#each skills as |skill id|}}
          <div class="skills-grid-node" item-context data-item-id="{{skill._id}}">{{skill.name}}</div>
          <div class="skills-grid-rank">{{skill.data.level}}</div>
        {{/each}}
      </div>
    </div>

    <div class="tab" data-tab="equipment">
      <div class="grid items-grid">
        <!-- Header -->
        <div class="grid-header">
          Name
          <a create-item data-item-type="item" class="fas fa-plus"></a>
        </div>
        <div class="grid-header">Level</div>
        <div class="grid-header">Price</div>
        <div class="grid-header">Qty</div>
        <div class="grid-header">Weight</div>
        <div class="grid-header">Energy</div>
        <div class="grid-header">Equipped?</div>

        <!-- Equipment -->
        {{#each equipment as |item id|}}
          <div item-context data-item-id="{{item._id}}">{{item.name}}</div>
          <div class="item-level">{{item.data.level}}</div>
          <div class="item-price">{{item.data.rrp}}</div>
          <div>
            <input
              type="number"
              inline-edit
              data-item-id="{{item._id}}"
              data-field="data.quantity" value="{{item.data.quantity}}"/>
          </div>
          <div>
            <input
              type="number"
              inline-edit
              data-item-id="{{item._id}}"
              data-field="data.weight" value="{{item.data.weight}}"/>
          </div>
          <div class="item-energy">
            <input
              type="number"
              inline-edit
              data-item-id="{{item._id}}"
              data-field="data.energy.value" value="{{item.data.energy.value}}"/>
            /
            <input
              type="number"
              inline-edit
              data-item-id="{{item._id}}"
              data-field="data.energy.max" value="{{item.data.energy.max}}"/>
          </div>
          <div class="item-equipped">
            <input
              type="checkbox"
              inline-edit
              data-item-id="{{item._id}}"
              data-field="data.equipped"
              {{checked item.data.equipped}} />
          </div>
        {{/each}}
      </div>
    </div>

    <div class="tab" data-tab="bio">
      {{editor content=stats.biography.value target="data.biography.value" button=True editable=editable}}
    </div>
  </section>
</form>
