
.sheet-header {
  @include layout-horizontal;
  @include layout-wrap;
  margin-bottom: 10px;

  .profile-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-right: 10px;
  }

  .header-fields {
    @include layout-flex;
  }

  h1.charname {
    height: 50px;
    padding: 0px;
    margin: 5px 0;
    border-bottom: 0;

    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

.skill-sheet {
  @include layout-vertical;
}

.sheet-body {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  padding: 1rem 0.25rem;

  @include layout-flex;

  & > div {
    position: relative;
    height: 100%;
  }

  .aside {
    max-width: 30%;
  }

  .aside, .aside + div {
    box-sizing: border-box;
    position: relative;
    margin: 10px;
  }

  .tab {
    height: 100%;
  }
}

.editor {
  width: 100%;
  height: 100%;
}

.tox {
  @include layout-flex;
  min-height: 100%;
  .tox-editor-container { background: var(--editor-container-bg); }
  .tox-edit-area { padding: 0 8px; }
}

.button-list {
  @include layout-horizontal;
  @include layout-center-justified;
}

.overview {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  justifiy-items: center;
}

.passive-attributes {
  @include layout-horizontal;
  @include layout-wrap;
  & > * { width: 33%; }
}

.attribute-nodes {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.attribute-nodes-node {
  @include layout-vertical;
  @include layout-start;
  input { width: 80px; }
}

[data-node-type] {
  cursor: pointer;

  &.in-pool {
    background-color: white;
  }
}


.attribute {
  @include layout-horizontal;
  @include layout-center;

  padding: 10px;

  label {
    display: inline-block;
    text-align: right;
    min-width: 60px;
  }

  input {
    width: 3.5em;
    height: 30px;
    line-height: 30px;
  }

  [data-roll-attr] {
    margin: 10px;
    font-size: 18px;
  }
}

.tab[data-tab="skills"],
.tab[data-tab="equipment"] {
  padding-top: 1em;
}

[item-context] { cursor: pointer; }

.skills-grid {
  grid-template-columns: auto 1fr;
  margin-bottom: 1em;

  > div {
    padding: 0.25em 1em;
    align-self: center;
  }
}

.items-grid {
  grid-template-columns:
    [name] auto
    [level] auto
    [price] auto
    [quantity] 50px
    [weight] 50px
    [energy] auto
    [equipped] auto;

  .item-level { text-align: center; }
  .item-price { text-align: right; }

  .item-energy {
    @include layout-horizontal;
    input { max-width: 50px; }
  }

  .item-equipped {
    place-self: center;
  }
}

// Action Dialog
.action-dialog {
}

.action-dialog-header {

  .charname {
    @include layout-horizontal;
    @include layout-center;
  }

  .profile-img {
    width: 50px;
    height: 50px;
    margin: 0.25em;
  }
}
