.tabs {
  border-top: 1px solid var(--tab-border-color);
  border-bottom: 1px solid var(--tab-border-color);

  .item {
    display: inline-block;
    font-weight: bold;
  }

  .item.active {
    text-decoration: underline;
    text-shadow: none;
  }
}
