<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body layout horizontal">
    <div class="aside">
      <div class="resource">
        <label class="resource-label">{{localize "nem.item.level"}}</label>
        <input type="text" name="data.level" value="{{stats.level}}" />
      </div>

      <div class="resource">
        <label class="resource-label">{{localize "nem.item.quantity"}}</label>
        <input type="number" name="data.quantity" value="{{stats.quantity}}" data-dtype="Number"/>
      </div>

      <div class="resource">
        <label class="resource-label">{{localize "nem.generic.energyLabel"}}</label>
        <div class="layout horizontal center">
          <input type="number" name="data.energy.value" value="{{stats.energy.value}}" data-dtype="Number"/>
          <span>/</span>
          <input type="number" name="data.energy.max" value="{{stats.energy.max}}" data-dtype="Number"/>
        </div>
      </div>

      <div class="resource">
        <label class="resource-label">{{localize "nem.item.rrp"}}</label>
        <input type="text" name="data.rrp" value="{{stats.rrp}}" />
      </div>

      <div class="resource">
        <label class="resource-label">{{localize "nem.item.weight"}} (Kg)</label>
        <input type="number" name="data.weight" value="{{stats.weight}}" data-dtype="Number"/>
      </div>

      <div class="resource">
        <label class="resource-label">Energy Cost</label>
        <input type="number" name="data.energyCost" value="{{stats.energyCost}}" />
      </div>

      <div class="resource">
        <label class="resource-label">Use Initiative?</label> <br />
        <input type="checkbox" name="data.useInitiative" {{checked stats.useInitiative}} />
      </div>
    </div>

    <div class="item-description layout vertical flex">
      {{editor content=stats.description target="data.description" button=true editable=true}}
    </div>
  </section>
</form>
