<form class="skill-sheet" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>

    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body layout horizontal">
    <div class="aside">
      <div class="resource">
        <label class="resource-label">{{localize "nem.nodeTypeLabel"}}</label><br />
        <select name="data.nodeType" value="{{stats.nodeType}}">
          {{#select stats.nodeType}}
          {{#each config.nodeTypes as |name type|}}
            <option value="{{type}}">{{localize name}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="resource">
        <label class="resource-label">{{localize "nem.skill.level"}}</label><br />
        <select name="data.level" value="{{stats.level}}">
          {{#select stats.level}}
            <option value="0">{{localize "nem.skillTiers.untrained"}}</option>
            <option value="1">1 - {{localize "nem.skillTiers.novice"}}</option>
            <option value="2">2 - {{localize "nem.skillTiers.adept"}}</option>
            <option value="3">3 - {{localize "nem.skillTiers.master"}}</option>
            <option value="4">4 - {{localize "nem.skillTiers.grandmaster"}}</option>
          {{/select}}
        </select>
      </div>

      <div class="resource">
        <label class="resource-label">Energy Cost</label>
        <input type="number" name="data.energyCost" value="{{stats.energyCost}}" />
      </div>

      <div class="resource">
        <label class="resource-label">Use Initiative?</label> <br />
        <input type="checkbox" name="data.useInitiative" {{checked stats.useInitiative}} />
      </div>
    </div>

    <div class="layout vertical flex">
      <div class="skill-description layout flex">
        {{editor content=stats.description target="data.description" button=true editable=true}}
      </div>
    </div>
  </section>
</form>
