<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>

    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <p>TODO: This will have the description for the skill, but also
        buttons for quickly rolling for the skill</p>
      <div class="item-description">
      {{editor content=data.description target="data.description" button=true owner=owner editable=true}}
      </div>
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="grid grid-2col">
        <div>
          <label for="data.skillId">Skill ID</label>
          <input type="text" name="data.skillId" value="{{data.skillId}}" data-type="String" />
        </div>

        <div class="resource">
          <label class="resource-label">Actions</label>
          <input type="number" name="data.actions" value="{{data.actions}}" data-dtype="Number"/>
        </div>

        <div class="resource">
          <label class="resource-label">Bonus Actions</label>
          <input type="number" name="data.bonusActions" value="{{data.bonusActions}}" data-dtype="Number"/>
        </div>

        <div class="resource">
          <label class="resource-label">Attributes</label>
          <input type="text" name="data.attributes" value="{{data.attributes}}" data-dtype="String" />
        </div>

        <div class="resource">
          <label class="resource-label">Range</label>
          <input type="text" name="data.range" value="{{data.range}}" data-dtype="String" />
        </div>

        <div class="resource">
          <label class="resource-label">Duration</label>
          <input type="text" name="data.duration" value="{{data.duration}}" data-dtype="String" />
        </div>
      </div>
    </div>

  </section>
</form>
